upstream netdata {
    server unix:/var/run/netdata/netdata.sock;
    keepalive 64;
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name kamino.tech-ninja.de;
	root /var/www/kamino.tech-ninja.de/public;

	# SSL
	#ssl_certificate /mnt/shares/certs/tech-ninja.de/fullchain.cer;
	#ssl_certificate_key /mnt/shares/certs/tech-ninja.de/tech-ninja.de.key;
	ssl_certificate /mnt/shares/certs/tech-ninja.de/fullchain.cer;
	ssl_certificate_key /mnt/shares/certs/tech-ninja.de/tech-ninja.de.key;
	ssl_trusted_certificate /mnt/shares/certs/tech-ninja.de/fullchain.cer;

	# security
	include templates/security.conf;

	# logging
	access_log /var/log/nginx/kamino.tech-ninja.de.access.log;
	error_log /var/log/nginx/kamino.tech-ninja.de.error.log warn;

	# reverse proxy section
	location = /netdata {
        return 301 /netdata/;
	}

	location ~ /netdata/(?<ndpath>.*) {
		auth_basic "Protected";
    	auth_basic_user_file passwords;
		# include templates/proxy.conf;
        proxy_redirect off;
        proxy_set_header Host $host;

        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_pass_request_headers on;
        proxy_set_header Connection "keep-alive";
        proxy_store off;
        proxy_pass http://netdata/$ndpath$is_args$args;

        gzip on;
        gzip_proxied any;
        gzip_types *;
    }
	
	location /resilio/ {
		proxy_pass http://172.16.1.2:8888/gui/;
		include templates/proxy.conf;
	}

	location /paperless {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://172.16.1.4/;
	}

	# additional config
	include templates/general.conf;
}

# HTTP redirect
server {
	listen 80;
	listen [::]:80;

	server_name kamino.tech-ninja.de;

	return 301 https://kamino.tech-ninja.de$request_uri;
}